.contact {
  text-align: center;

  form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
    }

    textarea {
      min-height: 120px;
    }
  }

  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
