// _global.scss

html,
body {
  font-family: $font-body;
  color: $color-text;
  background: $color-accent;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; // déjà présent, mais à garder
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  color: white;
}
h1,
h2 {
  font-family: $font-heading;

  line-height: 1.3;
}

section {
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: auto;
}
.btn-primary {
  background: $color-accent;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 50px;
  transition: all 0.4 ease;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken($color-accent, 8%);
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}
