.header {
  position: fixed;
  top: 0;
  height: 60px; // fixe
  width: 100%;
  background: $color-accent;
  color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center; // centre verticalement tous les enfants
  padding: 0 20px;
  z-index: 100;
  margin: 0;
  @include media-only($bp-phone) {
    flex-direction: column;
  }

  // logo à gauche
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
  }

  // nav à droite
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include media-only($bp-phone) {
      gap: 0px;
    }
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;

    &:hover {
      background-color: white;
      color: $color-accent;
    }

    &.btn-cta {
      @extend .btn-primary;
      padding: 0.6rem 1.2rem;
      border-radius: 30px;
    }
  }

  // label + select pour la langue
  label,
  select {
    font-size: 0.9rem;
    color: white;
  }

  select {
    color: black; // le texte du select reste lisible
  }
}
